@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-container">
  <div class="flex-item">
    <h1>Hello!</h1>
    <p>
      A password reset request has been made for your account:
      <a href="mailto:@Model.Email">@Model.Email</a>
    </p>
    <p>Please click the link below to reset your password:</p>
    <div class="button-container">
      <a href="@Model.ClientUrl/user/reset-password?token=@Model.AccessToken" rel="external" class="button">Reset Password</a>
    </div>
    <p>
      If you did not request a <strong>password reset</strong>, please
      ignore this email.
    </p>
  </div>
</div>
